/*---------------------Common style for all pages--------------------*/
* {
    box-sizing: border-box;
  } 
html {
    font-size: 62.5%; /* Set the root font size on all pages to 62.5% */
  }


/*--------Logo Styling---------*/
  .cb-logo-img
  {
    width: 40%;
    margin-left: 55%;
  }
  .cb-home-logo-container
  {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;

  }
  /* img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  } */